body{
    font-family: "Raleway", sans-serif;
    font-size:16px;
}

.blackBg{
    background-color: #181818;
}

.black-text{
    color:#181818;
}

.striveRed{
    color:#ef3d69;
}

.bolder {
    font-weight: 700px;
}

.btn{
    width:200px !important;
    padding-top:20px !important;
    padding-bottom:20px !important;
    font-size:1.1rem;
    border-radius: 0 !important;
    font-weight: 700;

}

.btn-striveRed{
    background-color:#ef3d69;
    color:white;
    
}

#jumbotron{
    background-color: #181818;
    color:white;
}
@media(min-width: 768px){
    #jumbotron h1{
        max-width:80%

    }

    #jumbotron h5{
        max-width:60%;
    }

}

@media(min-width: 1200px){
    #jumbotron h5{
        max-width:50%;
    }
}




