body{
    font-family: "Raleway", sans-serif;
    font-size:16px;
}

section {
    padding:80px;
}

.blackBg{
    background-color: #181818;
}

.black-text{
    color:#181818;
}

.striveRed{
    color:#ef3d69;
}

.bolder {
    font-weight: 700px;
}

.#join-section > h2{
    padding-top:80px;
    font-size:60px;
}

.btn{
    width:200px !important;
    padding-top:20px !important;
    padding-bottom:20px !important;
    font-size:1.1rem;
    border-radius: 0 !important;
    font-weight: 700;
    color: white;

}

.btn:hover{
    color: white;

}

.btn-striveRed{
    background-color:#ef3d69;
    color:white;
    
}

#jumbotron{
    background-color: #181818;
    color:white;
    background-image: url(../img/1.jpg);
    
    object-fit: cover;
}

#jumbotron >.container{

}

@media(min-width: 768px){
    #jumbotron h1{
        max-width:80%

    }

    #jumbotron h5{
        max-width:60%;
    }

}

@media(min-width: 1200px){
    #jumbotron h5{
        max-width:50%;
    }
}




